nav{
        
    background:white;
    padding: 20px;
    text-align: center;
    font-size:larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    a{
    color:black;
}
body{
    background-image: url("background.jpg");}
    
    